/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #04210c;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 16px;
    padding: 3px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 3px;
    margin-left: auto;
    margin-right: 8px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

nav ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

/* Main section styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    color: #99ff99;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 1000px;
    min-height: 300px;
}

section:nth-child(even) {
    flex-direction: row-reverse;
}

.text {
    flex: 1;
    padding: 1rem;
}

.text h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.text p {
    font-size: 1rem;
    line-height: 1.6;
}

.image {
    flex: 1;
    padding: 1rem;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Block Sections */
.block {
    margin-bottom: 30px;
    flex: 1;
    padding: 1rem;
    margin: 10px;
    background-color: #99ff99;
}

.block h2 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: #161617;
}

.block p {
    margin-bottom: 15px;
    color: #0d1013;
    font-size: 1rem;
    line-height: 1.6;
}

.block audio {
    width: 100%;
    outline: none;
}

/* Background container */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
}

/* Tiles inside the background */
.background div {
    width: 14px; /* Adjust for tile size */
    height: 14px; /* Adjust for tile size */
    background-size: cover;
    background-position: center;
}